ul.round li
{
    width: 150px;
    float: left;
}
    ul.round li ul.group li
    {
        width: 150px;
        height: 40px;
        margin: 0 10px 0 0;
    }
    ul.round li ul.group li.separator-1 { height: 20px; }
    ul.round li ul.group li.separator-2 { height: 50px; }
    ul.round li ul.group li.separator-3 { height: 120px; }
    ul.round li ul.group li.separator-4 { height: 260px; }
    ul.round li ul.group li.separator-5 { height: 540px; }
    ul.round li ul.group li.separator-6 { height: 1100px; }

    ul.round li ul.group li.linker-1 { height: 10px; }
    ul.round li ul.group li.linker-2 { height: 50px; }
    ul.round li ul.group li.linker-3 { height: 120px; }
    ul.round li ul.group li.linker-4 { height: 260px; }
    ul.round li ul.group li.linker-5 { height: 540px; }
    ul.round li ul.group li.linker-6 { height: 1100px; }

        ul.round li ul.group li div
        {
            float: left;
            vertical-align: middle;
            height: 100%;
        }
        ul.round li ul.group li div.linker
        {
            width: 8px;
            height: 20px;
            margin: 20px 0px 20px 0px;
            border: 2px solid gray;
            border-left: none;
            background: none;
            float: right;
        }
        ul.round li ul.group li div.linker-last
        {
            border: none;
        }
        ul.round li ul.group li div.linker-bottom
        {
            border-bottom: none;
            margin-bottom: 0px;
        }
        ul.round li ul.group li div.linker-top
        {
            border-top: none;
            margin-top: 0px;
        }
        ul.round li ul.group li.linker div.linker
        {
            height: 100%;
            border-top: none;
            border-bottom: none;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        ul.round li ul.group li div.players
        {
            width: 120px;
        }

        ul.round li ul.group li div.scores
        {
            width: 20px;
        }
            ul.round li ul.group li div.players p
            {
                padding-left: 10px;
            }
            ul.round li ul.group li div.players p,
            ul.round li ul.group li div.scores p
            {
                line-height: 20px;
                height: 20px;
                vertical-align: middle;
            }
            ul.round li ul.group li div.players p.p1,
            ul.round li ul.group li div.scores p.p1
            {
                border-bottom: 1px solid gray;
            }
            ul.round li ul.group li div.players p.p2,
            ul.round li ul.group li div.scores p.p2
            {
                border-top: 1px solid gray;
            }