<h3>{{ "Partners" | trans }}</h3>
<a href="http://www.ihqs.net/" target="_blank">
    <img src="{{ asset('bundles/ihqsnuitblanche/images/logo_ihqs.png') }}" alt="ihqs, développement web sous Symfony 2 et NodeJS" title="ihqs, développement web sous Symfony 2 et NodeJS" />
</a>
<br />
<br />