body
{
    background: url('/bundles/ihqsnuitblanche/images/stripes.png');
}

body div#page
{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}

div#main
{
    margin: 20px;
    margin-right: 0;
    width: 710px;
    float: left;
}

div#content
{
    margin: 20px;
    width: 520px;
    float: left;
}

div#left
{
    margin-left: 20px;
    width: 150px;
    float: left;

    margin-top: 20px;
}

div#right
{
    width: 150px;
    float: left;
    padding: 20px 0;
}

div.promote
{
    margin-bottom: 10px;
    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
}

div.promote a
{
    display: block;
    height: 45px;
    width: 150px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 5px #888;
    -moz-text-shadow: 0 0 5px #888;
    -webkit-text-shadow: 0 0 10px #888;
    color: white;
    font-family: 'Georgia';
    font-weight: bold;
}
div.promote-forum a         { background: url('../images/forum.png'); }
div.promote-tournaments a   { background: url('../images/tournaments.png'); }
div.promote-replays a   {
    color: #395674;
    line-height: 100px;
    height: 100px;
    background: url('../images/ad_replay.png');
}

.widget
{
    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;

    padding: 10px;
    margin-bottom: 20px;
    background: white;
}

img.race-icon
{
    width: 20px;
    height: 20px;
    vertical-align:middle;
}

img.ico
{
    width: 16px;
    height: 16px;
    vertical-align:middle;
}
div.note-container
{
    display: inline-block;
    height: 12px;
    width: 100px;
    border: 1px solid black;
    background: #395674;
    background: -webkit-gradient(linear, left top, right top, from(#ddd), to(#395674));
    background: -moz-linear-gradient(left,#ddd,#395674);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#ddd, endColorstr=#395674)";

    vertical-align: middle;
    float:right;
}
div.note-container span
{ 
    height: 12px;
    display: inline-block;
    float: right;
    background: white;
    font-size: 8px;
    line-height: 12px;
    text-align: right;
}
div.note-container span.note-ratio
{
     position: relative;
     background: transparent;
}

ul.filters
{
    margin-top: 5px;
}
ul.filters li
{
    display: inline-block;
    border-right: 1px solid #888;
    font-weight: normal;
    padding: 0 5px;
}

ul.filters li.first
{
    padding-left: 0;
}
ul.filters li.last
{
    border: 0;
}