{% extends 'IHQSNuitBlancheBundle::layout_base.html.twig' %}


{% block main %}

    <div id="main">
        {% if app.session.flash('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <div id="right">
        {% include "IHQSNuitBlancheBundle:Secured:_action.html.twig" %}
        {% block right %}
        {% endblock %}
    </div>

{% endblock %}